@page
@model LoginModel
<html lang="en">
<head>
    <title>LuxuryHotel a Hotel Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Rubik:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand" href="/User/Home/index">NTĐ Hotel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Home/index">Trang chủ</a>
                        </li>
                        <vc:loai-phong></vc:loai-phong>
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Home/news">Tin tức & Sự kiện</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/User/Home/about">Khám phá</a>
                        </li>


                        <li class="nav-item cta">
                            <a class="nav-link" href="/User/Home/rooms"><span>Đặt ngay</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="User" asp-controller="Booking" asp-action="MyBookings" title="Manage">Đơn Phòng của tôi</a>
                        </li>



                        <partial name="_LoginPartial" />
                    </ul>

                </div>
            </div>

        </nav>
    </header>
<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-12 text-center">
                <div class="mb-5 element-animate">
                    <h1>Đăng Nhập</h1>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <section>
                    <form class="login-form" id="account" method="post">
                        <h2>Đăng nhập</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <label asp-for="Input.Email" class="form-label">Tài khoản</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                           
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                        </div>
                        <div>
                     @*        <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                            </p> *@
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký</a>
                            </p>
                       @*      <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại xác nhận</a>
                            </p> *@
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
  
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    <!-- END section -->
    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>Hỗ trợ</h3>
                    <p>24/7 Gọi Ngay.</p>
                    <p class="lead"><a href="tel://">+84776830466 </a></p>
                </div>
                <div class="col-md-4">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Theo dõi ngay</p>
                    <p>
                        <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
                        <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
                        <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
                        <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>
                        <a href="#" class="p-3"><span class="fa fa-youtube-play"></span></a>
                    </p>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>

        </div>

    </footer>
    <!-- END footer -->
    <!-- loader -->

</body>
</html>